{% extends "templates/base.html" %}
{% block content %}

<script>
     // Change image every 2 seconds
     var slidePosition = 2;
     SlideShow(slidePosition);
     
     // forward/Back controls
     function plusSlides(n) {
       SlideShow(slidePosition += n);
     }
     
     //  images controls
     function currentSlide(n) {
       SlideShow(slidePosition = n);
     }
     
     function SlideShow(n) {
       var i;
       var slides = document.getElementsByClassName("Containers");
       var circles = document.getElementsByClassName("dots");
       if (n > slides.length) {slidePosition = 1}
       if (n < 1) {slidePosition = slides.length}
       for (i = 0; i < slides.length; i++) {
           slides[i].style.display = "none";
       }
       for (i = 0; i < circles.length; i++) {
           circles[i].className = circles[i].className.replace(" enable", "");
       }
       slides[slidePosition-1].style.display = "block";
       circles[slidePosition-1].className += " enable";
     } 
    </script>
{% for message in messages %}
<div class="alert" style="padding: 15px;
background-color: #478aff
;
color: white;
margin-bottom: 15px;">
  <span class="closebtn" style="margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>{{ message }}</strong> 
</div>
{% endfor %}
<body>




  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
 



   <!-- Slideshow container -->
<div class="slideshow-container fade">

  <!-- Full images with numbers and message Info -->
  {% for slide in slideshow %}
  <div class="Containers">
    <div class="MessageInfo">{{slide.rank}} /{{slide_max}} </div>
    <img src="{{ slide.img }} " style = "width:100%">
    <div class="Info">{{ slide.caption }}</div>
  </div>

  {% endfor %}

  <!-- Back and forward buttons -->
  <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
  <a class="forward" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The circles/dots -->
<div style="text-align:center">
  {% for slide in slideshow %}
  <span class="dots" onclick="currentSlide({{ slide.rank }})"></span>
  {% endfor %}

</div> 
  
    <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
    
    <div class="bottom-section">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Announcements</h3>
        <p>Announcements goes here</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Top Performers</h3>
        <table class="w3-table-all w3-hoverable">
          <thead>
            <tr class="w3-light-grey">
              <th>Name</th>
              <th>Ratings</th>
              
            </tr>
          </thead>
          {% for best in best_rating %}
          <tr>
            
            <td>{{best.id}}</td>
            <td>{{best.rating}}</td>

          </tr>
          
          {% endfor %}
        </table>
      </div>
    </div>
    
  </div>
</div>




	<!-- logo with tag -->
	{% endblock content%}
